
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zot Buddy - Login</title>
  <link rel="preload" href="assets/fonts/PixelifySans-Regular.ttf" as="font" type="font/ttf" crossorigin="anonymous">
  {% load static %}
 <link rel="stylesheet" href="{% static 'css/global.css' %}">


</head>
<body>
  <div id="login-page">
    <header>
      <h1>Log In</h1>
    </header>

      {% block content %}{% endblock content %}


    <footer>
      <p>Made with ❤️ by Team Zot Buddy</p>
    </footer>
  </div>
 {% load static %}
<script src="{% static 'login.js' %}"></script>
</body>
</html>