{% extends "base.html" %}

{% block content %}
{% load static %}
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
 <link rel="stylesheet" href="{% static 'css/global.css' %}">

<h3>Signup</h3>

    <form method="POST" id="signup-form">
        {% csrf_token %}

        {{ form.as_p }}

      <label for="email">Name Your Email:</label>
      <input type="text" id="email" name="email" placeholder="Enter your email" required>

      <label for="first_name">Name Your Avatar:</label>
      <input type="text" id="first_name" name="first_name" placeholder="Enter your avatar name" required>

      <button type="submit">Submit</button>
    </form>

    <a class="signup-link" href="{% url 'base:login' %}">Already have an account? Login</a>
<script src="{% static 'login.js' %}"></script>
{% endblock content %}
